---
layout: null
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body style="height: 100%;">
    <div style="width: 100%; height: 100%; margin: 0; padding: 0; display: table;">
      <div style="display: table-cell; vertical-align: middle; text-align:center;">
        <img src="https://38.media.tumblr.com/0c475dae94c39d5af428d1311b887018/tumblr_n6pkuhlaJO1rnwo2vo1_400.gif" />
        <h1 style="font-family: 'Play', sans-selif; text-align: center; font-weight: bold;">choro3.net</h1>
        
        <p><span class="icon-twitter"></span> <a href="https://twitter.com/choro3">@choro3</a></p>
        <p><a href="./posts">text</a></p>
      </div>
    </div>
  </body>

  {% include analytics.html %}

</html>

